<!-- Navigation menu with about highlight -->
{{> menu id="about"}}

<!-- About page with contact information -->
<section class="ui center aligned middle aligned segment">

  <!-- Page title and location image -->
  <h2 >About the Game Completion App</h2>
  <p>This is where you can find us!</p>
  <img src = "/map.jpg" class = "ui centered image">

<!-- Statistics section showing app details -->
<div class="ui five statistics" style="margin-top: 1em;">
    
  <!-- Display app information from data -->
  {{#with info}}
     
    <div class="statistic">
      <div class="value">
        <i class="game icon"></i> 
      </div>
      <div class="label">
        App Title: <br>
        {{appTitle}}
      </div>
    </div>
    
    <div class="statistic">
      <div class="value">
        <i class="code branch icon"></i> 
      </div>
      <div class="label">
        App Version: <br>
        Version {{version}}
      </div>
    </div> 
     
    <div class="statistic">
      <div class="value">
        <i class="map pin icon"></i> 
      </div>
      <div class="label">
        Made in: <br>
        {{location}}
      </div>
    </div> 

     <div class="statistic">
      <div class="value">
        <i class="envelope icon"></i> 
      </div>
      <div class="label">
        Email us: <br>
        {{email}}
      </div>
    </div>
	
    <div class="statistic">
      <div class="value">
        <i class="user icon"></i> 
      </div>
      <div class="label">
        Created by: <br>
        {{creators.0.name}}
      </div>
    </div>
	
  {{/with}}
  
</div>